
Project Pertama - Muhammad Ridho Maghribi/Library/*
Project Pertama - Muhammad Ridho Maghribi/Logs/*
Project Pertama - Muhammad Ridho Maghribi/Temp/*
Project Pertama - Muhammad Ridho Maghribi/+.vs/*
Project Pertama - Muhammad Ridho Maghribi/+obj/*

Project Pertama - Muhammad Ridho Maghribi/.vsconfig
Project Pertama - Muhammad Ridho Maghribi/-*.sln
Project Pertama - Muhammad Ridho Maghribi/+*.sln
Project Pertama - Muhammad Ridho Maghribi/+*.csproj
Project Pertama - Muhammad Ridho Maghribi/.vscode
